<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    {{#if map}}
    <link rel="stylesheet" type="text/css" href="/stylesheets/map.css"></link>
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ie_map.css"></link>
    <![endif]-->
    {{/if}}

    <!-- CKEditor 5 -->
    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-alpha.2/classic/ckeditor.js"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/screen_styles.css" />
    <link rel="stylesheet" type="text/css" media="only screen and (min-width:10px) and (max-width:500px)" href="/stylesheets/screen_layout_small.css" />
    <link rel="stylesheet" type="text/css" media="only screen and (min-width:821px)" href="/stylesheets/screen_layout_large.css" />
    <link rel="stylesheet" type="text/css" media="only screen and (min-width:501px) and (max-width:820px)" href="/stylesheets/screen_layout_medium.css" />

    <title>{{title}}</title>
  </head>

  <body>
    <div id="wrapper">
      <div id="header">
          <a href="/">
              <div class="logo"></div>
          </a>                
      </div>

      {{{body}}}

      <div id="footer">
        Copyright © 2017 Schauenburger Hausarztpraxis ■ <a href="/kontakt">Kontakt</a> ■ <a href="/impressum">Impressum</a>
      </div>
    </div>

    <!-- script for opening and closing the mobile menu -->
    <script src="/javascripts/menu.js"></script>

    {{#if map}}
      <script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
      <script type="text/javascript" src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
      <script type="text/javascript" src="/javascripts/map_tom.js"></script>
      <script type="text/javascript" src="/javascripts/map.js"></script>
      <script type="text/javascript">
          drawmap();
      </script>
    {{/if}}

    <script>
      var selector = document.getElementsByClassName('editor');
      for (var i = 0; i < selector.length; i++) {
        ClassicEditor
          .create( selector[i] )
          .catch( error => {
              console.error( error );
          } );
      };
    </script>
  </body>
</html>