<div id="wrapper">
  <div id="header">
      <a href="#">
          <div class="logo"></div>
      </a>                
  </div>


  <div id="menu">
      <div class="mobile handle">
          Menu
          <div class="buttom">
              <span class="color"></span>
              <span></span>
              <span class="color"></span>
              <span></span>
              <span class="color"></span>
          </div>
      </div>

      <ul>
          <a class="menuactive first" href="#Praxis"><li><p>Praxis</p></li></a>
          <a href="#Team"><li><p>Team</p></li></a>
          <a href="#Leistungen"><li><p>Leistungen</p></li></a>
          <a href="#aus-und-weiterbildung"><li><p>Aus- und Weiterbildung</p></li></a>
          <a class="last" href="#Kontakt"><li><p>Kontakt</p></li></a>
      </ul>
  </div>

  <div id="content">
    <h1>{{ title }}</h1>

    <span class="mainparagraph">
        <div id="opening_times">
            <h3>{{ opening_times.headline }}</h3>
            <ul>
                {{#each opening_times.entries}}
                    <li><span class="days">{{days}}</span> <span class="times">{{times}} Uhr</span></li>
                {{/each}}
            </ul>
            <span class="end"></span>
        </div>

        <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
    </span>
    <span class="end"></span>
  </div>


  <div id="footer">
          Copyright © 2017 Schauenburger Hausarztpraxis ■ <a href="#Kontakt">Kontakt</a> ■ <a href="#Impressum">Impressum</a>
  </div>
</div>