<div id="content" style="border-top: 1px solid #0060AA;">
    <h1>Account Login</h1>

    <div>
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}
    </div>

    <form method="post" action="/users/login">
        <div>
            <label>Benutzername</label>
            <input type="text" name="username" placeholder="Benutzername">
        </div>
        <div>
            <label>Passwort</label>
            <input type="password" name="password" placeholder="Passwort">
        </div>
        <button type="submit">Login</button>
    </form>

    <span class="end"></span>
</div>