<div id="content" style="border-top: 1px solid #0060AA;">
    <h1>Account Login</h1>

    {{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    <form class="login" method="post" action="/users/login">
        <div>
            <label class="login label"><strong>Benutzername</strong></label>
            <input class="login input_field" type="text" name="username" placeholder="Benutzername">
        </div>
        <div>
            <label class="login label"><strong>Passwort</strong></label>
            <input class="login input_field" type="password" name="password" placeholder="Passwort">
        </div>
        <button class="login submit_button" type="submit">Login</button>
    </form>

    <span class="end"></span>
</div>