<div id="content" style="border-top: 1px solid #0060AA;">
  <h2 class="page-header">Register</h2>
  {{#if user}}
          <div class="alert alert-danger">Username has taken already try new</div> 
  {{/if}}
  {{#if mail}}
          <div class="alert alert-danger">Email has taken already try new</div> 
  {{/if}} 
  {{#if errors}}
        {{#each errors}}
          <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
  {{/if}}
  <form class="login" method="post" action="/users/register">
    <div class="form-group">
      <label class="login label"><strong>Name</strong></label>
      <input class="login input_field" type="text" class="form-control" placeholder="Name" name="name">
    </div>
    <div class="form-group">
      <label class="login label"><strong>Username</strong></label>
      <input class="login input_field" type="text" class="form-control" placeholder="Username" name="username">
    </div>
    <div class="form-group">
      <label class="login label"><strong>Password</strong></label>
      <input class="login input_field" type="password" class="form-control" placeholder="Password" name="password">
    </div>
    <div class="form-group">
      <label class="login label"><strong>Confirm Password</strong></label>
      <input class="login input_field" type="password" class="form-control" placeholder="Password" name="password2">
    </div>
    <button class="login submit_button" type="submit" class="btn btn-default">Submit</button>
  </form>
  <span class="end"></span>
</div>