<div id="content" style="border-top: 1px solid #0060AA;">
    <h1>{{ title }}</h1>
    <form action="/">
        <input type="submit" value="Webseite ansehen" />
    </form>
    <form action="/admin">
        <input type="submit" value="Zurück zur Administration" />
    </form>
</div>