/*---------- structur ----------*/
/*----------
1. handy version
    1.0 body
    1.1 wrapper
    1.2 header
    1.3 menu
    1.4 content
        1.4.1 home
        1.4.2 medical team
        1.4.3 practice team
    1.5 footer
----------*/

@charset "UTF-8";

/*---------- 1.0 body ----------*/

/*---------- 1.1 wrapper ----------*/

/*---------- 1.2 header ----------*/
#header {
    height: 165px;
}

/*---------- 1.3 menu ----------*/
#menu {
    overflow: hidden;
}

#menu ul {
    margin-top: -2px;
    max-height: 0px;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}

#menu .showing {
    max-height: 20em;
    margin-top: 0px;
}

#menu a {
    margin-bottom: 1px;
    padding-left: 15px;
}

#menu ul ul li {
    padding-left: 15px;
}

#menu .mobile {
    min-height: 28px;
    padding: 15px;
    box-sizing: border-box;
    display: block;
    color: #FFF;
    background-color: #727271;
    margin-bottom: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

#menu .buttom {
    float: right;
    height: 18px;
    width: 18px;
    display: block;
}

#menu span {
    display: block;
    height: 20%;
}

#menu span.color {
    background-color: #e2e3e3;
    border-radius: 2px;
}

#menu .last {
    margin-bottom: 0px;
}

/*---------- 1.4 content ----------*/

#content .mainimage {
    display: none;
}

/*---------- 1.4.1 home ----------*/
#content img.mobile {
    width: 100%;
    margin-top: 15px;
}

/*---------- 1.4.2 medical team ----------*/
#content img.medical_team {
    width: 100%;
}

/*---------- 1.4.3 practice team ----------*/
#content .team {
    width: 50%;
    float: left;
    padding-right: 30px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

#content .team img {
    width: 100%;
}

#content .team h3 {
    margin: 5px 0px 5px 0px;
}

#content .team p {
    margin: 0px;
    min-height: 42px;
}

/*---------- 1.5 footer ----------*/