/*---------- structur ----------*/
/*----------
1. mobile version
    1.0 body
    1.1 wrapper
    1.2 header
    1.3 menu
    1.4 content
        1.4.1 home
        1.4.2 team
        1.4.4 kontakt
    1.5 footer
----------*/

@charset "UTF-8";

/*---------- 1.0 body ----------*/
body {
    background-color: #e2e3e3;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1, h2, h3 {
    color: #0060AA;
    font-weight: normal;
}

h1.first, h2.first, h3.first {
    margin-top: 0px;
}

h1 {
    line-height: 1em;
}

h3.first {
    margin-top: 0px;
}

p.first {
    margin-top: 0px;
}

a {
    text-decoration: none;
    color: #0060AA;
}

/*---------- 1.1 wrapper ----------*/
#wrapper {
    max-width: 1024px;
    margin: 0px auto 0px auto;
    position: relative;
}

/*---------- 1.2 header ----------*/
#header {
    margin: 15px 0px 5px 0px;
    background-image: url(../images/header.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-y: center;
    background-position-x: 10px;
}

#header a {
    height: 100%;
    display: block;
}

#header .logo {
    height: 100%;
    width: 150px;
    float: right;
    margin-right: 15px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 10px;
}

/*---------- 1.3 menu ----------*/
#menu ul {
    margin: 0px;
    padding: 0px;
}

#menu a {
    display: block;
    background-color: #727271;
    text-decoration: none;
    color: #FFF;
}

#menu a.menuactive {
    font-weight: bold;
    background-color: #0060AA;
}

#menu a:hover, #menu a:active {
    font-weight: bold;
    background-color: #0060AA;
}

#menu ul {
    list-style-type: none;
}

#menu a {
    padding: 5px;
}

#menu p {
    margin: 0px;
}

/*---------- 1.4 content ----------*/
#content {
    background-color: white;
    margin: 5px 0px 5px 0px;
    clear: both;
    padding: 30px;
}

#content .end {
    display: block;
    clear: both;
}

#content ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/*---------- 1.4.1 home ----------*/

#content .days {
    clear: right;
    float: left;
}

#content .times {
    float: right;
}

#opening_times table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

#opening_times td, #opening_times th {
    border: 1px solid #e2e3e3;
    border-collapse: collapse;
    padding: 5px;
}

#opening_times th {
    color: #0060AA;
    background-color: #e2e3e3;
}

#content .news::before {
    width: 100%;
    height: 2px;
    display: block;
    content: close-quote;
    background-color: #0060AA;
}

/*---------- 1.4.2 team ----------*/

#content ul.medical_team {
    list-style-type: square;
    margin-left: 15px;
}

/*---------- 1.4.4 kontakt ----------*/
#content #form {
    margin-top: 15px;
    display: block;
    background-color: #e2e3e3;
    padding: 15px;
}

#content #form h2 {
    margin-top: 0px;
}

#content #form .input {
    margin-bottom: 5px;
}

#content label.left {
    display: inline-block;
    min-width: 100px;
}

#content textarea {
    margin-left: 4px;
}

/*---------- 1.5 footer ----------*/
#footer {
    background-color: #FFF;
    color: #0060AA;
    padding: 5px 5px 5px 30px;
    clear: both;
}

#footer a {
    color: #0060AA;
}

#footer a:hover {
    text-decoration: underline;
}