<div id="form">
    <h2>Dauermedikation und regelmäßige Überweisungen</h2>
    <p>
        Um die Sicherheit ihrer Daten zu gewährleisten, wird Ihre Eingabe verschlüsselt versendet.
    </p>
    <p>
        Beachten Sie, dass das Formular <strong>ausschließlich</strong> für den vorgesehenen Zweck als Bestellformular für Dauermedikation und regelmäßig ausgestellte Überweisungen einzusetzen ist! Andere Anliegen werden von uns nicht über dieses Medium bearbeitet.
    </p>

    <div id="message"></div>

    <form id="emailform">
        <div class="input">
            <label class="left" for="gender">Anrede</label>
            <input type="radio" id="female" value="Frau" name="gender" required="">
            <label for="female">Frau</label>
            <input type="radio" id="male" value="Herr" name="gender" required="">
            <label for="Male">Herr</label>
        </div>
        <div class="input">
            <label class="left" for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Vor- und Nachname" required="">
        </div>
        <div class="input">
            <label class="left" for="birth">Geburtsdatum</label>
            <input type="date" id="birth" name="birth" placeholder="01.01.2000" required="">
        </div>
        <div class="input">
            <label class="left" for="email">E-Mail</label>
            <input type="text" id="email" name="email" required="">
        </div>
        <div class="input">
            <label class="left" for="order" style="float: left;">Bestellung</label>
            <textarea name="order" id="order" cols="45" rows="5" wrap="virtual" placeholder="Medikament/Überweisung" required=""></textarea>
        </div>
        <button type="button" name="submit" onclick="validateForm()">Send E-Mail</button>
    </form>
</div>